#emailTime input{
    font-size: 14px !important;
}
#unReadSystemMessageList p{
    width: 240px;
}
#unReadSystemMessageList a{
    height: auto;
}

.myLogins .select2-container .select2-choice{background-color: #eee; border-radius: 0px; font-size: 13px; color: dimgray; padding-top:0 ; margin: 0 auto; border: none; }
.select2-no-results{text-align: center;font-size: 14px}
.myLogins .select2-container  .select2-drop { font-size: 14px; }
.select2-container .select2-choice{
    height: 40px !important;
}
.myLogins .select2-container .select2-choice>.select2-chosen{
    color: #858585;
}
.myLogins .select2-container .select2-choice>.select2-chosen:hover{
    color: #858585;
}
.myLogins .down .rows .agreen{
    font-size: 12px;
    margin: 0;
}

.searchDrop{
    font-size: 14px !important;
    z-index: 99;
}
.searchDrop li{
    font-size: 14px !important;
}
.searchDrop li b{
    float: right;
}