@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,aside,blockquote,th,td,span,i,b{margin:0;padding:0; list-style:none; border:none; color:#858585;font-family:"Microsoft YaHei","黑体"; font-weight:normal;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
html{width:100%;margin:0 auto;font-family:"Microsoft YaHei","黑体";}
body{font-family:"Microsoft YaHei","黑体";-webkit-text-size-adjust:100%;text-size-adjust:100%; color:#858585;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
em,i{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}
ol,ul,li{vertical-align:middle;}
input,textarea{font-family:"Microsoft YaHei"; outline:none; -webkit-appearance: none; background:none;}
textarea{resize:none;}
textarea::-webkit-input-placeholder,
textarea::-moz-input-placeholder,
textarea::-ms-input-placeholder,
input::-webkit-input-placeholder,
input::-moz-input-placeholder;
input::-ms-input-placeholder{color:#858585; }
input:focus{outline-width:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;box-shadow:none}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}










@media screen and ( min-width: 320px ) and ( max-width:374px ){
	html{font-size:16px;}
}
@media screen and ( min-width: 375px ) and ( max-width:479px ){
	html{font-size:18px;}
}
@media screen and (min-width: 480px) and (max-width: 539px){
	html{font-size:20px;}
}
@media screen and (min-width: 540px) and (max-width: 639px){
	html{font-size:24px;}
}
@media screen and (min-width:640px){
	html{font-size:28px;}
}



