@charset "utf-8";
/* CSS Document */

/*---志愿产品 con----*/
body{font-size: 12px;}
.productCon .topTip li a{font-size: 16px;}
.productCon .topTip li{ float:left;height:auto; line-height:36px; font-size:16px;  width:33.3%;  box-sizing:border-box;}
.productCon .topTip li .drops{ width:80%;  top:40px; box-sizing:border-box;  margin-left:-47px; }
.productCon .topTip li .drops a{font-size: 14px;height: 35px;line-height: 35px;}
.productCon .topTip li .drops{  top:43px;   }
.product_banner .banners .con{ width:90%;  height:100%; position:absolute; top:0; left:5%; margin-left:0;}
.product_banner .banners .p1,.product_banner .banners .p2{ text-align:right; font-size:14px; position:relative; left:0; top:0; margin-bottom: 10px;}
.product_banner .banners .p1{ text-align:left; margin-top:10%; }
.product_banner .banners .helps{position:relative; right:0; top:0; font-size:16px; float:right;  } 
.productCon .listBox .list li .pic{  width:100%; height:auto; }
.productCon .listBox .list li .text{  width:100%; height:auto;   box-sizing:border-box; }

.productCon .listBox .list li .text .title02{font-size: 20px;}
.productCon .listBox .list li .text p{font-size: 16px;}
.productCon .listBox .list li .text .p1 span{ width:100%;font-size: 16px;}
.productCon .listBox .list li .text .money{ position:relative; top:0; left:0; text-align:right;}
