.form_tip{
    font-size: 14px;
    padding-left: 20px;
    color: red;
    display: inline-block !important;
    text-align: right !important;
    float: right;
    width: 250px !important;
}
.title_p{
    width: 440px;
    margin: auto;
}
.spn_title{
    display: inline !important;
}
.select2-container .select2-choice {
    background-color: #eee;
    border-radius: 0;
    font-size: 14px;
    color: #858585 !important;
    height: 30px !important;
    position:initial !important;
}
.select2-drop {
    font-size: 14px;
}
.select2-highlighted {
    background-color: #eee;
}
.select2-no-results {
    font-size: 14px;
    color: dimgray;
    text-align: center;
}
.p_chose_title_img {
    height: 267px;
    width: 410px;
    text-align: center;
    line-height:267px;
    background-color: #ECECFC;
}
.upload_tip {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
.imgPic {
    cursor: pointer;
    height: 267px;
    width: 410px;
    margin: auto;
}
.showImg {
    height: 267px;
    width: 410px;
}
#uploadifive-titleImgFile {
    display: none;
}
.queue {
    display: none;
}
#uploadAll{
    width: 286px;
    background-color: #FF7A45;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    margin: auto;
}
input,textarea{
    font-size: 14px;
}
.bjy-bj{
    margin-top: 70px;
}
.content{
    width: 350px;
    margin: auto;
}
.map{
    background-color: #ffffff !important;
}

#uploadifive-picFile{
    display: none;
}
.upload_show_info{
    text-align: center;
    margin-top: 50px;
    display: block;
}
.ti_tx, .mi_tx, .mer_tx{
    height: 40px;
    padding-left:0px;
    margin-left:6px;
}
.bj4-main{
    overflow: visible;
}
.timepicki-input{
    width: 45px !important;
    padding-left: 0px !important;
}
.timepicker_wrap{

    border-radius:0 !important;
}
.prev, .next{
    border-radius: 0 !important;
}
.time_end{
    left: 200px !important;
    width: 240px !important;
}
.service_time_tip{
    float: left;
    line-height: 36px;
    height: 36px;
    margin: 0 10px;
}
.timepicker_start, .timepicker_end{
    width: 197px !important;
    margin-right: 0px !important;
}

.service_price .select2-search{
    display: none !important;
}
.sect .serviceSelect .select2-chosen{
    margin: 0px !important;
}
.sect .serviceSelect .select2-choice{
    position: initial;
    width: 100px !important;
}
.sect .serviceSelect a{
    height: 36px !important;
    line-height: 36px !important;
    border: none;

}
.sect .serviceSelect .select2-choice{ padding-top: 0; border: 0;}
.sect .select2-container .select2-choice .select2-arrow{ margin-top: 0;}
.sect .select2-container .select2-choice .select2-arrow{ margin-top: 0;}
.select2-container .select2-arrow b{
    padding-right: 0px;
}
.bjy-bj4 p a{
    color: #858585;
}

.bjy-bj4 .bj4-div{
    width: 440px;
    margin: auto;
}
.bjy-bj4 .bj4-div span{
    width: 150px;
    float: left;
}
.bjy-bj4 p{
    clear: both;
}

.bjy-bj4 .creat dl dd input{
    margin-bottom: 10px;
}
.bjy-bj4 .start-time dt span{
    width: 150px;
}

.input-group-btn{
    display: none !important;
}

.detail_tags{
    display: inline-block;
    text-shadow: none !important;
    font-weight: 300;
    font-size: 14px;
    padding: 3px 6px 3px 6px;
    color: #fff;
    background-color: #51c7b7;
    cursor: pointer;
    margin-bottom: 5px;
}
.bjy-bj4 .detail_title{
    height: 30px;
    margin-bottom: 0px;
    line-height: 30px;
}

.bjy-bj4 span{
    font-size: 16px !important;
    width: 150px;
    display: inline-block;
}
.bjy-bj4 p input.text01{
    width: 300px;
}
#stepDiv .step_price{
    width: 70px;
    margin-left: 10px;
}
#basePrice{
    margin-right: 10px;
}
.bjy-bj4 p b{
    margin-right: 0px !important;
}
.bj4-main p input{
    width: 94px;
}
.bjy-bj4 .creat dl dt span{
    width: auto;
}
.step_title_span{
    width: 166px !important;
}
#special_form span{
    width: auto;
    display: inline-block;
}
.bjy-bj5 .tog textarea{
    margin-bottom: 0px;
}

.uploadifive-button{
    display: none;
}

.special_upload_tip{
    width: 380px;
    height: 247px;
    line-height: 247px;
    text-align: center;
    display: none;
    color: white;
    background-color: #eee;
}

.tog .fr{
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.picPop{
    z-index: 1001 !important;
}

.bjy .form_title{
    width: 150px !important;
    float: left;
}