@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,aside,blockquote,th,td,span,i,b{margin:0;padding:0; list-style:none;font-family:"Microsoft YaHei","黑体";}
html{width:100%;margin:0 auto;font-size:16px;font-family:"Microsoft YaHei","黑体";}
body{font-family:"Microsoft YaHei","黑体";-webkit-text-size-adjust:100%;text-size-adjust:100%; color:#858585;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
em,i{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}
ol,ul,li{vertical-align:middle;}
input,textarea{font-family:Helvetica,Arial,"Microsoft YaHei"; outline:none; -webkit-appearance: none;}
textarea{resize:none;}
textarea::-webkit-input-placeholder,
textarea::-moz-input-placeholder,
textarea::-ms-input-placeholder,
input::-webkit-input-placeholder,
input::-moz-input-placeholder;
input::-ms-input-placeholder{color:#bababa;}
input:focus{outline-width:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;box-shadow:none}
.clearfix:after{content:'';display:block;clear:both}


.container{width:1000px; margin:0 auto;height:auto;}
.container .qtitle{ font-size:30px; margin:30px auto 0; padding:0 5%;}
.container .qpic{ width:100%;margin:20px auto;}
.container .qpic img{width:90%; margin:0 auto; display:block;}
.container .qtext{ padding:0 5%; width:90%; color:#858585; font-size:18px; text-indent:2em;}
.container .qtext p{ margin-top:10px;}





@media screen and (min-width:640px) and (max-width:720px){
.container{width:100%; margin:0 auto;height:auto;}

}

@media screen and (min-width:540px) and (max-width:639px){
.container{width:100%; margin:0 auto;height:auto;}
.container .qtext{line-height:26px; font-size:18px;}
.container .qtitle{ font-size:30px; margin:25px auto 0; padding:0 5%;}

}
@media screen and (max-width:539px){
.container{width:100%; margin:0 auto;height:auto;}
.container .qtext{line-height:24px;font-size:16px; }
.container .qtitle{ font-size:24px; margin:25px auto 0; padding:0 5%;}


}







